

executor{
    jobName = { "$task.tag" }
}

params {

    projectName = "fastqc"
    rawReads = "*{R1,R2}.fastq.gz"
    outDir = "./fastqc_results"
}

profiles{
    standard {
        process.executor = 'local'
    }

   hex {
        includeConfig 'conf/uct_hex.config'
    }
    
    ilifu {
        includeConfig 'conf/ilifu.config'
    }
}
