docker.enabled = false
singularity.enabled = true
singularity.cacheDir = "/scratch/DB/bio/singularity-containers"

process {

    cache = true

    stageInMode='symlink'
    stageOutMode='rsync'

    $runFastQC.container='/scratch/DB/bio/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
    $runMultiQC.container='/scratch/DB/bio/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
}

executor{
    jobName = { "$task.tag" }
}

params {

    projectName = "tl"

    rawReads = "/scratch/researchdata/cbio/immun/project03/process/raw_primer_stripped/"
  
    outDir = "/scratch/researchdata/cbio/immun/project03/process/fastqc/June2018_cutadapt_trimmed_QC/"
}

profiles{
    standard {
        process.executor = 'local'
    }

   hex {
        process.executor = 'pbs'
        process.queue = 'UCTlong'
	    process.clusterOptions = '-M katie.lennard@uct.ac.za -m abe -l nodes=1:ppn=1:series600'
    }
}
