/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */
 
docker.enabled = false
singularity.enabled = true
singularity.cacheDir = "/cbio/users/katie/singularity_containers"

process {

    cache = true

    stageInMode='symlink'
    stageOutMode='rsync'

    $runFastQC.container='/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
    $runMultiQC.container='/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
}
