/*
 * -------------------------------------------------
 *  UCT hex cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/index.php/hex-3/
 */

singularity {
   enabled = true
   cacheDir = "/scratch/DB/bio/singularity-containers"
}

process {
   $runFastQC.container='/scratch/DB/bio/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   $runMultiQC.container='/scratch/DB/bio/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   
   executor = 'pbs'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'UCTlong'
   clusterOptions = { "-M $params.email -m abe" }

   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}

executor{
   jobName = { "$task.tag" }
}
